
  <div class="row">
    <div class="col-12">
         <div class="jumbotron jumbotron-fluid">
          <p class="main-visual-text">
            このアプリケーションではクローゼットの<br>アイテムを写真で管理できます
          </p>
  　　　　</div>
    </div>
  </div>
  <div class="row">
  <div class="col-12">
    <div class="about">
       <h2><strong>Spark Joy</strong>について</h2><br>
       <p>自分がどんな洋服・アイテムを持っているのか、<br>
       全部で何着の洋服を持っているか把握できていますか？</p><br>
      <p>気がついたら同じような洋服ばかり買ってしまっている・・・。</p><br>
      <p>洋服にどのくらいお金をかけているかわからない。</p><br>
      <p>全然来ていない洋服が沢山クローゼットにある。</p><br>
       <i class="fas fa-angle-double-down"></i>
      <h4>Spark Joyでは、アイテムを写真で管理しカテゴリー別に分けることで、<br>
          どのくらいアイテムを持っているか視覚化し、把握することができます。<br><br>また、アイテム登録時に購入金額を入れることで、支出も管理することができます。</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="sub-bar1">
       <h2>使い方について</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="col-12">
    <div class="card-deck mb-3 text-center">
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">STEP 1</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">
            新規会員登録をしよう
          </h3>
          <i class="fas fa-user"></i>
          <ul class="list-unstyled mt-3 mb-4">
            <li>会員登録をすることで<br>
              ご利用できるようになります
            </li>
          </ul>
        </div>
      </div>

      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">STEP 2</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">
            アイテムを登録しよう
          </h3>
          <i class="fas fa-camera"></i>
          <ul class="list-unstyled mt-3 mb-4">
            <li>アイテムの画像と必要情報の<br>ご登録をお願いいたします</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class="container">
    <div class="row">
     <div class="col-12">
      <div class="card-deck mb-3 text-center">
        <div class="card shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">STEP 3</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">
            アイテムを登録したら一覧として表示されます
          </h3>
           <i class="fas fa-th"></i>
            <ul class="list-unstyled mt-3 mb-4">
              <li>アイテムはカテゴリー別に<br>
                  表示を変えることができます</li>
            </ul>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">STEP 4</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">
            アイテムの詳細をマイページにて確認できます
          </h3>
           <i class="fas fa-chart-pie"></i>
            <ul class="list-unstyled mt-3 mb-4">
              <li>アイテム登録時に金額をご入力していただくと<br>
              マイページにてカテゴリー別の支出が表示されます</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-bar2">
  <%= link_to "会員登録をして始める", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>

