<div class="container">
  <div class="item-index">
    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <h1>アイテム一覧</h1>
      </div>
      <div class="col-md">
      </div>
    </div>
     <div class="row">
       <div class="col-md-3">

        <div id="sideber-fixed">
        <h2>カテゴリー</h2>
        <% @items.each do |item| %>
        <ul class="list-group list-group-flush" style="max-width: 200px;">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to item.category.category_name, item_path(item.id) %>
            <span class="badge badge-primary badge-pill">1</span>
          </li>
            </ul>
             <% end %>
          </div>

      </div>

       <div class="col-md-9">
        <% @items.each do |item| %>

        <%= link_to item_path(item.id) do %>
        <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %>
        <p><%= item.brand %></p>
        <% end %>
                <% end %>
      </div>

     </div>

  </div>
</div>
