
  <nav class="navbar navbar-light fixed-top flex-md-nowrap p-0" style="background-color: #ffff00;">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SparkJoy</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="p-2 text-dark"><%= link_to 'ログアウト', :destroy_admin_session, method: :delete, class: "btn-outline-danger" %></a>
          </li>
        </ul>
  </nav>




