<nav class="col-md-2 col-12 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <i class="fas fa-chart-line"></i>
        <%= link_to "ダッシュボード", admins_root_path %>
      </li>
      <li class="nav-item">
        <i class="fas fa-users"></i>
       <%= link_to "ユーザー", admins_users_path %>
      </li>
       <li class="nav-item">
       <i class="fas fa-list"></i>
       <%= link_to "カテゴリー", admins_categories_path %>
      </li>
    </ul>
  </div>
</nav>
