// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  height: 70px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}
.about {
  text-align: center;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #b0c4de;
  text-align: center;
  color: white;
}

.navbar {
  width: 100%;
  height: 70px;
}

 .jumbotron {
  background-image: url("/images/closet.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.main-visual-text {
  text-align: center;
  padding-top: 105px;
  color: white;
  font-size: 60px;
}

.fa-angle-double-down {
  font-size: 70px;
  color: #ff8c00;
  margin: 50px;

}
.fa-user {
  font-size: 70px;
  color: #A4C639 ;
}

.fa-camera {
  font-size: 70px;
  color: #3366ff ;
}

.fa-th {
  font-size: 70px;
  color: #cc3366 ;
}

.fa-chart-pie {
  font-size: 70px;
  color: #ff3333 ;
}

.sub-bar1 {
  text-align: center;
  height: 60px;
  margin: 40px;
}

.sub-bar2 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-body {
  background-image: url("/images/closet1.jpg");
  background-size: cover;
  background-position: center;
  height: 640px;
  margin-top: 70px;
}

.message {
  background-image: url("/images/no-image.jpg");
  width: 600px;
  height: 600px;
  margin-left: 100px;
}


.body {
  padding-top: 50px;
  height: 640px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgba(255,255,255,0.7);
}

.signup-body {
  margin-top: 70px;
  height: 630px;
  background-image: url("/images/closet2.jpg");
  background-size: cover;
  background-position: center;
}

.signup-form {
  width: 380px;
  margin: 0 auto;
}

.body2 {
  padding-top: 50px;
  height: 650px;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}

.item-index {
  margin: 70px 0 70px 0;
  width: 500px;
  height: 600px;
  flex-wrap: wrap;
  float: left;
}

.sideber {
  margin-top: 30px;
  width: 200px;

}
.message {
  color: white;
}

.item-image {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.img-thumbnail {
  margin: 10px 10px 10px 10px;
  height: 200px;
}

.item-image-index {
  width: 1000px;
  display: flex;
  height: 200px;
  margin-top: 60px;
  margin-left: 30px;
}

.item-new {
  margin: 80px;
  height: 560px;
}

.image-new {
  margin: 20px;

}
.image-field {
  margin-top: 50px;
  height: 500px;
}

.item-field {
  margin: 100px;
  width: 300px;
}

.image-new-field {
  width: 1000px;
}

.item-new-field {
  height: 500px;
  width: 280px;
  margin-top: 80px;
}

.user-page {
  height: 350px;
  margin-top: 200px;
}

.user-edit {
  height: 650px;
  margin-top: 150px;
  width: 330px;
}

.edit {
  height: 620px;
  margin-top: 70px;
}

.edit-field {
  margin-top: 50px;
}

.item-show {
  margin-top: 100px;
  height: 590px;
  width: 100%;
}

@media screen and (max-width:425px) {
  .sideber {
  width: 150px;

  }

  .item-index  {
     width: 100%;
     height: 1000px;
     margin:0 auto;
  }
  .item-image-index {
   width: 400px;
  }

  .message {
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }



  .item-new  {
     width: 100%;
     height: 1000px;
     margin:0 auto;
  }
  .image-new {
   width: 100%;
   height: 50%;
   margin-top: 100px;
  }
  .item-new-field {
   margin-top: 200px;
   margin-left: 30px;
  }
  .item-show {
     width: 100%;
     margin:0 auto;
     height: 100%;
  }
  .image-field {
   width: 100%;
   height: 50%;
   margin-left: 50px;
   margin-right: 50px;
  }
  .item-field {
  width: 100%;
  height: 50%;
  margin: 50px 50px 50px 50px;
  }
  .item-edit {
  width: 100%;
  margin: 50px 50px 50px 50px;
  }
  .edit {
  margin-top: 50px;
  height: 100%;
  }
}


.category-color {
  color: black;
}

.item-edit {
  margin: 50px;
  width: 300px;
}

.chart {
   margin-top: 150px;
}

.chart-text {
  text-align: center;
}

.table td{
  text-align: center;
}

.admin-page {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 500px;
}

.pagenate {
   width:300px;
   margin:0 auto;
}


